<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.asacreative.barcodescanner"
        version="0.0.1">
    <name>Barcode Scanner</name>
    <description>Barcode Scanner</description>
    <license>Apache 2.0</license>
    <keywords>barcode</keywords>
    <repo></repo>
    <issue></issue>
    <dependency
            id="es6-promise-plugin"
            url="https://github.com/vstirbu/PromisesPlugin.git">
    </dependency>
    <js-module src="www/Barcode.js" name="Barcode">
        <clobbers target="Barcode"/>
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Barcode">
                <param name="android-package" value="com.asacreative.barcodescanner.Barcode"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <!--<source-file src="src/android/Barcode.java" target-dir="src/" />-->

        <source-file src="src/android/com/asacreative/barcodescanner/Barcode.java"
                     target-dir="src/com/asacreative/barcodescanner"/>
        <source-file src="src/android/com/asacreative/barcodescanner/Camera.java"
                     target-dir="src/com/asacreative/barcodescanner"/>
        <source-file src="src/android/com/asacreative/barcodescanner/CameraViewfinderFragment.java"
                     target-dir="src/com/asacreative/barcodescanner"/>
        <!--<source-file src="src/android/com/mbppower/CameraActivity.java" target-dir="src/com/mbppower"/>-->
        <!--<source-file src="src/android/com/mbppower/camera_activity.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/com/mbppower/camera_theme.xml" target-dir="res/values"/>-->
    </platform>
</plugin>